@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background-color: #2e2e2e;
	
	p:last-child {
		margin-bottom: 0;
	}

    .App {
        text-align: center;
    }
}